{% extends 'base.html' %}

{% block content %}


<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"> Hello {{ username }}</h1>
            <p class="lead">
                Select a Server to Configure
            </p>
        </div>
    </section>
    <div class="album py-4 ">
        <div class="container">
            <div class="row">
                {% for key in guild_list %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-dark text-center">
                        <img class="card-img-top mx-auto rounded img-fluid img-thumbnail"
                            src="https://cdn.discordapp.com/icons/{{ key.id }}/{{key.icon}}.webp?size=1024"
                            alt="Server Image" 
                            style="width:100px;height:100px;display:inline;">
                        <div class="card-body">
                <a href={% url 'server' key.id %} class="stretched-link"></a>

                            <p class="card-text">{{ key.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} </a> {% endcomment %}
                {% endfor %}
            </div>
        </div>
    </div>

</main>

{% endblock content %}