{% extends 'new_base.html' %}
{% load static %}
{% block Dashboard %}
<main class="container-fluid back-color">
    <div class="bg-dark p-5 rounded mt-3 ">
        <h1 class='text-center text-light'> <strong>👋 Welcome</strong></h1>
        <div class="align-center">
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        <form method="POST" action="{% url 'welcome' guild.server_id %}" class="was-validated">
            {% csrf_token %}
            <div class="d-flex bd-highlight mb-3 mt-3 border-top border-secondary bg-dark">

                <div class="p-4 bd-highlight align-self-center justify-content-center">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <h5>
                        <b>
                            Welcome Channel
                        </b>
                    </h5>
                </div>
                <div class="p-2 flex-fill align-self-center bd-highlight">

                </div>
                <div class="ml-auto p-4 align-self-center  justify-content-center bd-highlight">
                    <select class="form-control" name="welcome_channel">
                        {% if welcome_channel %}
                        <option class='bg-dark text-light' value="welcome_channel.id">{{welcome_channel.name}}</option>
                        {% endif %}
                        <option class='bg-dark text-light' value="">Select Channel</option>
                        {% for channel in text_channel  %}
                        <option class='bg-dark text-light' value={{channel.id}}>{{channel.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="invalid-feedback">Example invalid custom select feedback</div>
                <div class="valid-tooltip">
                    Looks good!
                </div>
            </div>
    </div>

    <div class="d-flex  flex-column bd-highlight mt-4 mb-4 border-top border-secondary bg-dark">
        <div class="d-flex bd-highlight flex-row mt-4 mb-1  border-secondary bg-dark">
            <div class="p-4 bd-highlight align-self-center justify-content-center">

                <h5>
                    <b>
                        Welcome Message
                    </b>
                </h5>
            </div>
            <div class="p-2 flex-fill align-self-center bd-highlight">

            </div>
            <div class="ml-auto p-4 align-self-end  justify-content-center bd-highlight">
                <select class="form-control" name="welcome_enable">
                    {% if welcome.welcome_enable %}
                    <option value="Enable">Enable</option>
                    <option value="Disable">Disable</option>
                    {% else %}
                    <option value="None">Select Enable/Disable</option>
                    <option value="Enable">Enable</option>
                    <option value="Disable">Disable</option>
                    {% endif %}
                    <!-- <div class="form-check form-switch">
                    <input class="p-2  m-2 form-check-input" type="checkbox" name="welcome_enable" checked>
                </div> -->
                </select>
            </div>
        </div>
        <!-- <div class="d-flex flex-column bd-highlight mb-3"> -->
        <div class="p-1 bd-highlight align-self-start ">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <b>Example</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;you can set like that welcome announcement
        </div>

        <div class="p-2 bd-highlight">
            <div class="text-center">
                <img class="img-fluid mx-auto " src={% static 'images/screenshot2.png' %}>
            </div>
        </div>
        <div class="p-2 bd-highlight">
            <div class="p-1 bd-highlight align-self-start justify-content-center ">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Message</b>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Set the Welcome Message, This will send a
                welcome message in welcome channel when a member join.
            </div>
        </div>
        <div class="p-2 bd-highlight">

            <div class="form-group">
                <label for="exampleFormControlTextarea1"></label>
                {% if welcome.welcome_msg %}
                <textarea class="form-control text-dark" name="welcome_message" placeholder="welcome_message"
                    rows="7">{{welcome.welcome_msg}}</textarea>
                {% else %}
                <textarea class="form-control text-dark" name="welcome_message" placeholder="welcome_message"
                    rows="3"></textarea>
                {% endif %}
            </div>
        </div>

        <div class="p-2 bd-highlight">
            <div class="p-1 bd-highlight align-self-start justify-content-center ">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Welcome Images</b>
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Set the Welcome images, This will send a
                welcome image in welcome channel when a member join and <b>You can set upto 5 Images</b>
            </div>
        </div>
        <div class="p-2 bd-highlight">

            <div class="form-group">
                <label for="#"></label>
                {% if welcome.image1 %}
                    <textarea class="form-control text-dark" name="welcome_images" placeholder="Images Link" rows="3">
{{welcome.image1}}
{{welcome.image2}}
{{welcome.image3}}
{{welcome.image4}}
{{welcome.image5}}
                    </textarea>
                {% else %}
                <textarea class="form-control text-dark" name="welcome_images" placeholder="Images Link"
                    rows="3"></textarea>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="d-flex  flex-column bd-highlight mt-4 mb-4 border-top border-secondary bg-dark">
        <div class="d-flex bd-highlight flex-row mt-4 mb-1  border-secondary bg-dark">
            <div class="p-4 bd-highlight align-self-center justify-content-center">

                <h5>
                    <b>
                        Self Role
                    </b>
                </h5>
            </div>
            <div class="p-2 flex-fill align-self-center bd-highlight">

            </div>
            <div class="ml-auto p-4 align-self-end  justify-content-center bd-highlight">
                <select class="form-control" name="welcome_role" required>
                    {% if welcome.self_role %}
                    <option value={{welcome_channel.role_id}}>{{welcome_channel.role_name}}</option>
                    {% else %}
                    <option value="None">Select Role</option>
                    {% endif %}
                    {% for role in roles  %}
                    <option class="bg-dark text-white" value={{role.id}}>{{role.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>


    </div>


    <div class="d-flex bd-highlight mb-5 border-top border-secondary bg-dark">
        <div class="ml-auto p-2 align-self-center bd-highlight">
            <input type='submit' value="Save" class="btn btn-outline-light">
        </div>
    </div>

    </form>
    </div>

</main>
{% endblock Dashboard %}