@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #938FA68C;
    --top-nav:#4e4e50;
    --left-nav: #52057B;
    --second-color: #52505ECF;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --black-color: #000;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --shadow-color: #52057b;
}

*,
::before,
::after {
    box-sizing: border-box
}

body{
   background-color: var(--black-color);
}
.bg-custom{
   background-color:  #27333099;
}

body {
    position: relative;
    color: #00ffbf;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #892cdc;
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--black-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img img {
    width: 35px;
    border-radius: 50%;
}

.logo_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.logo-border{
    padding: 4px;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 5%;
    left: 0% !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: #aa2ee6;
    box-shadow: 0px 0px 5px 5px var(--shadow-color);
    border-radius: 5% 5%;
}

.back-border{
    border-color: rgb(253, 4, 4);    
    border-width:  0  1px 1px  0;
}



.l-navbar {
    position: fixed;
    top: 0;
    left: -100%;
    /* width: var(--nav-width); */
    height: 100vh;
    background-color: var(--left-nav);
    padding: .5rem 0 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.h-100{
    background-color: var(--black-color);
}
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 1.5rem .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 11rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh;
    top: 6%;
    position: fixed;
    width: 119vh;
    margin: 1px;
}

.back-color{
    background-color: #1a1a1d;
    box-shadow: 0px 0px 5px 5px var(--shadow-color);
    padding: 5% 5%;
    border-radius: 2% 2% 2% 2%;
}


.bg-second {
    background-color: #1a1a1d !important;
}
.bg-trans{
background-color: #52057B78;!important;
}
.text-check{
    color: #950740 !important;
}

.p-5{
    padding: 6rem !important;
    padding-bottom: 1rem !important;
}



.form-switch .form-check-input {
    width: 4em;
    margin-left: -2.5em;
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
    height: 2rem;
    box-shadow: 0px 0px 10px 10px darkslategray;
}
.off{
    box-shadow: 0px 0px 10px 10px #fff;
}


@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        /* padding-left: calc(var(--nav-width) + 2rem) */
        padding: 3rem 10rem;

    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}