{% load static %}

body {
    background-image: url("{% static 'images/background.jpg' %}");
    background-position: 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}