{% extends 'new_base.html' %} {% block Dashboard %}
<main class="container-fluid back-color">
  <div class="p-5 rounded mt-3">
    <h1 class="text-center text-light">PLEASE SELECT A SERVER</h1>
  </div>
  {% for key in guild_list %} {% if key.is_added %} <a href={% url 'server'
  key.id %}> {% else %}
  <a href="{{invite_url}}">
    {% endif %}
    <div class="d-flex bd-highlight mb-3 hover-zoom">
      <div class="p-2 bd-highlight">
        <div class="logo_img logo_border border border-white">
          <img
            src="https://cdn.discordapp.com/icons/{{ key.id }}/{{key.icon}}.png?size=512"
            alt="{{ guild.server_name }}"
          />
        </div>
      </div>
      <div class="p-2 flex-fill align-self-center bd-highlight">
        <div class="text-justify text-light">
          <strong>{{key.name}} </strong>
        </div>
      </div>
      {% if key.is_added %}
      <div class="ml-auto p-2 align-self-center bd-highlight">
        <button type="button" class="btn btn-outline-success">
          GoTo Dashboard
        </button>
      </div>
      {% else %}
      <div class="ml-auto p-2 align-self-center bd-highlight">
        <button type="button" class="btn btn-outline-secondary">
          Set Up Sakura
        </button>
      </div>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</main>
{% endblock Dashboard %}
